.container{
    text-align: center;
    margin-top:50px
}

body{
    background-color: black;
}

table{
    margin: auto;
}
 
input{
    border-radius: 21px;
    font-size:34px;
    height: 65px;
    width: 260px;
    scroll-behavior: smooth;
}
 
button{
    border-radius: 20px;
    font-size: 20px;
    background: gray;
    width: 60px;
    height: 50px;
    margin: 6px;
}
 
.calculator{
    background-color:blue;
    padding: 23px;
    border-radius: 30px;
    display: inline-block;
   
}